<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Ping Lin's Resume | Home</title>
<!--mobile apps-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Resume" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--mobile apps-->
<!--Custom Theme files-->
  {% load static %}
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.swipebox/1.4.4/css/swipebox.min.css" integrity="sha256-5KRlt3ls3xVyu0Fv7M6hvDH0wCDqHraymjiBtOAhZZU=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/style.css' %}">
<!--//Custom Theme files-->
<!--js-->
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script> 
<!-- //js -->
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Overlock:400,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
<!--start-smooth-scrolling-->
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script> 
<script type="text/javascript">
    jQuery(document).ready(function($) {
      $(".scroll").click(function(event){   
        event.preventDefault();
        $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
      });
    });
</script>
<!--//end-smooth-scrolling-->
</head>
<body>
  <!--banner-->
  <div id="home" class="banner">
    <div class="banner-info">
      <div class="container">
        <div class="col-md-3 header-left">
          <img src="{% static "images/IMG_3522.jpg" %}" alt=""/>
        </div>
        <div class="col-md-9 header-right">
          <h2>Hello</h2>
          <h1>I'm Ping Lin</h1>
          <h6>A mother, dreamer, doer.</h6>
          <ul class="address">
            <li><a href="https://www.linkedin.com/in/pinglintw/"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://github.com/lptwnb1"><i class="fa fa-github"></i></a></li>
            <li><a href="#"><i class="fa fa-file-pdf-o"></i></a></li>
          </ul>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  <!--//banner-->
  <!--top-nav-->
  <div class="top-nav wow">
    <div class="container">
      <div class="navbar-header logo">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          Menu
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="menu">
          <ul class="nav navbar">
            <li><a href="#about" class="scroll">About</a></li>
            <li><a href="#work" class="scroll">Experience</a></li>
            <li><a href="#education" class="scroll">Education</a></li>
            <li><a href="#skills" class="scroll">Skills</a></li>
            <li><a href="#projects" class="scroll">Projects</a></li>
            <li><a href="#contact" class="scroll">Contact</a></li>
          </ul>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
  </div>  
  <!--//top-nav-->
  <!--about-->
  <div id="about" class="about">
    <div class="container">
      <h3 class="title"> About Me</h3>
      <div class="col-md-12">
        <p>Reading, learning, and making stuff are my favorites. Please scroll below to read my journey from banking to tech. You may find more details in my resume. 
        <br><br>
        My latest learning interests are data science and programming. With these skills, I hope to work on projects relating to disinformation and promoting constructive conversation in democratic societies.
        <br><br>
        Originally from central Taiwan, our family of four now calls Yilan home because we love the mountains and people in Eastern Taiwan so much. Before the kids, my husband and I enjoy climbing and hiking. Now we are amateur farmers who have more fun playing mud than counting harvest. As a hobby, I make lots of soaps.
        </p>
      </div>
      <!-- delete awards -->
      <div class="clearfix"> </div>
    </div>
  </div>
  <!--//about-->
  <!--work-experience-->
  <div id="work" class="work">
    <div class="container">
      <h3 class="title">Work Experience</h3>
      <div class="work-info"> 
        <div class="col-md-6 work-left"> 
          <h4>2015 - Present Co-founder</h4>
        </div>
        <div class="col-md-6 work-right"> 
          <h5> <span class="glyphicon glyphicon-briefcase"></span>  Chi Jia Technology Co., Ltd.</h5>
          <p>
          Chi-Jia in Mandarin means to harmonize the family. Our eCommerce services were built with the vision to improve the quality of life for each member of the family. lifehappiness.com (2018~present) was born out of a mother’s care to provide safe and durable cookware. With a love for humor, mmwooo.com (2016~2018) introduced fun accessories to our fans to pamper the youngsters and their inner children.
          </p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="work-info"> 
        <div class="col-md-6 work-left"> 
          <h4>2017 - 2019 E-Commerce Advisor</h4>
        </div>
        <div class="col-md-6 work-right work-right2"> 
          <h5><span class="glyphicon glyphicon-briefcase"></span> Y.L Textile Co., Ltd. </h5>
          <p>
          Taiwan is known for our strong OEM/ODM capability, yet Taiwanese manufacturers must move up the value chain as we face grimmer competition from countries with lower production costs. Mammam.com was set up as an effort to bridge a traditional fabric factory from its declining B2B business to the fast-growing online B2C market. I built its online presence through various channels and executed digital marketing campaigns. Joining the digital transition for this three-generation enterprise that represents a part of Taiwan history was a truly inspiring experience for me.
          </p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="work-info"> 
        <div class="col-md-6 work-left"> 
          <h4>2015 - 2019 Co-founder</h4>
        </div>
        <div class="col-md-6 work-right"> 
          <h5><span class="glyphicon glyphicon-briefcase"></span> Kosbrother. Inc. </h5>
          <p>
          Fortunately, NovelKing was profitable enough for me to devote full-time to the company. As new parents, my husband and I opted for a virtual organization when building the company. Managing a remote team turned out to be a challenging yet liberating task. Later I launched DoctorGuide with an aim to improve information circulation and administration efficiency of the medical system.
          </p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="work-info"> 
        <div class="col-md-6 work-left"> 
          <h4>2013 - 2015 Assistant Manager</h4>
        </div>
        <div class="col-md-6 work-right"> 
          <h5><span class="glyphicon glyphicon-briefcase"> </span> Taipei Fubon Commercial Bank</h5>
          <p>
          To take a step further, I switched to Syndication where the product structure was more complicated and the market was wider, covering the Greater China region. I cooperated with the Hong Kong desk to solicit mandates and attract subscriptions from other financial institutions. At the same time, my interest in the information economy grew. A fervent bookworm myself, I joined my husband in developing NovelKing as a side-project.
         </p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="work-info"> 
        <div class="col-md-6 work-left"> 
          <h4>2012 - 2013 Associate</h4>
        </div>
        <div class="col-md-6 work-right"> 
          <h5><span class="glyphicon glyphicon-briefcase"> </span>Standard Chartered Bank (Taiwan) Limited</h5>
          <p>
          While in Standard Chartered, I aided MNC clients for their global capital market activities. On top of that, I formed a keen security awareness learning from the internal control measures in this 87,000-employee enterprise, such as segregation of duties, authorization, and IT controls.
          </p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="work-info"> 
        <div class="col-md-6 work-left"> 
          <h4>2010 - 2012 Management Associate</h4>
        </div>
        <div class="col-md-6 work-right"> 
          <h5><span class="glyphicon glyphicon-briefcase"> </span> Taishin International Bank</h5>
          <p>
          Two years in a team with hyper sales growth instilled in me the pragmatic and market-facing approach that benefited me tremendously in later positions and the startup journey. I also learned the concept of balancing risk and return, which I continue to apply in life and business pursuits.
          </p>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  <!--//work-experience-->
  <!--education-->
  <div id="education" class="education">
    <div class="container">
      <h3 class="title">Education</h3>
      <div class="work-info"> 
        <div class="col-md-6 work-left"> 
          <h4><strong>M.B.A</strong> International Business - 2010</h4>
        </div>
        <div class="col-md-6 work-right"> 
          <h5><span class="glyphicon glyphicon-education"> </span> National Taiwan University</h5>
          <p></p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="work-info"> 
        <div class="col-md-6 work-left"> 
          <h4>International Exchange Program - 2009</h4>
        </div>
        <div class="col-md-6 work-right"> 
          <h5><span class="glyphicon glyphicon-education"></span> Anderson School of Management, UCLA</h5>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="work-info"> 
        <div class="col-md-6 work-left"> 
          <h4><strong>B.A</strong> Foreign Language and Literature - 2008</h4>
        </div>
        <div class="col-md-6 work-right"> 
          <h5><span class="glyphicon glyphicon-education"> </span> National Taiwan University</h5>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  <!--//education-->
  <!--skills-->
  <div id="skills" class="skills">
    <div class="container">
      <h3 class="title">Skills</h3>
      <div class="skills-info">
        <div class="col-md-6 bar-grids">
          <h6>Creative Thinking<span> 80% </span></h6>
          <div class="progress">
            <div class="progress-bar progress-bar-striped active" style="width: 80%">
            </div>
          </div>
          <h6>Leadership<span>80%</span></h6>
          <div class="progress">
            <div class="progress-bar progress-bar-striped active" style="width: 80%">
            </div>
          </div>
          <h6>Communication<span>90% </span></h6>
          <div class="progress">
            <div class="progress-bar progress-bar-striped active" style="width: 90%">
            </div>
          </div>
        </div>
        <div class="col-md-6 bar-grids">
          <h6>Project Managment<span> 80% </span></h6>
          <div class="progress">
            <div class="progress-bar progress-bar-striped active" style="width: 80%">
            </div>
          </div>
          <h6>Social Media Marketing<span> 80% </span></h6>
          <div class="progress">
            <div class="progress-bar progress-bar-striped active" style="width: 80%">
            </div>
          </div>
          <h6>Programming <span> 60% </span></h6>
          <div class="progress">
            <div class="progress-bar progress-bar-striped active" style="width: 60%">
            </div>
          </div>
        </div>
        <div class="col-md-12 bar-grids">
          <h6>Grit and Passion for Lifelong Learning <span> 100% </span></h6>
          <div class="progress">
            <div class="progress-bar progress-bar-striped active" style="width: 100%">
            </div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  <!--//education-->
  <!--portfolio-->
  <div id="projects" class="portfolio">
    <div class="container">
      <h3 class="title wow zoomInLeft animated" data-wow-delay=".5s">My Projects</h3>
      <div class="sap_tabs">      
        <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
          <ul class="resp-tabs-list wow fadeInUp animated" data-wow-delay=".7s">
            <li class="resp-tab-item"><span>All</span></li>
            <li class="resp-tab-item"><span>Starups</span></li>
            <li class="resp-tab-item"><span>Programming</span></li>
            <li class="resp-tab-item"><span>Advisor</span></li>
          </ul> 
          <div class="clearfix"> </div> 
          <div class="resp-tabs-container">
            <div class="tab-1 resp-tab-content">
              <div class="tab_img">
                <div class="col-md-4 portfolio-grids">
                  <div class="grid">
                    <a href="{% static "images/g1.png" %}" class="novel_startup">
                      <img src="{% static 'images/g1.png' %}" alt="" class="img-responsive"/>
                      <div class="figcaption">
                        <h3>NovelKing</span></h3>
                        <p>One of the largest platform for online Chinese novels.</p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-4 portfolio-grids">
                  <div class="grid effect-sarah">
                    <a href="{% static "images/g2.png" %}" class="doctor_startup">
                      <img src="{% static "images/g2.png" %}" alt="" class="img-responsive"/>
                      <div class="figcaption">
                        <h3>DoctorGuide</h3>
                        <p>Search doctors by syptoms, locations, and ratings.</p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-4 portfolio-grids">
                  <div class="grid">
                    <a href="{% static "images/g3.png" %}" class="meng_startup">
                      <img src="{% static "images/g3.png" %}" alt="" class="img-responsive"/>
                      <div class="figcaption">
                        <h3>mmwooo.com</h3>
                        <p>Online store for fun little items.</p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-4 portfolio-grids">
                  <div class="grid">
                    <a href="{% static "images/g4.png" %}" class='cv_project'>
                      <img src="{% static "images/g4.png" %}" alt="" class="img-responsive"/>
                      <div class="figcaption">
                        <h3>Personal Website</span></h3>
                        <p>Used Python(Django), HTML, CSS, JavaScript.
                        </p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-4 portfolio-grids">
                  <div class="grid">
                    <a href="{% static "images/g7.png" %}" class='programming_course'>
                      <img src="{% static "images/g7.png" %}" alt="" class="img-responsive"/>
                      <div class="figcaption">
                        <h3>Programing Courses</span></h3>
                        <p>Python, SQL, Algorithm, Linear Algebra
                        </p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-4 portfolio-grids">
                  <div class="grid">
                    <a href="{% static "images/g5.png" %}" class="advisor_mammam">
                      <img src="{% static "images/g5.png" %}" alt="" class="img-responsive"/>
                      <div class="figcaption">
                        <h3>mammam.com</span></h3>
                        <p>Brought a 85-year-old fabric ODM to online retailing.</p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="clearfix"> </div>
                <div class="col-md-4 portfolio-grids">
                  <div class="grid">
                    <a href="{% static "images/g6.png" %}" class="happy_startup">
                      <img src="{% static "images/g6.png" %}" alt="" class="img-responsive"/>
                      <div class="figcaption">
                        <h3>lifehappiness.com</h3>
                        <p>Online store for safe and durable cookware.</p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="clearfix"> </div>
              </div>
            </div>
            <div class="tab-1 resp-tab-content">
              <div class="tab_img">
                <div class="col-md-4 portfolio-grids">
                  <div class="grid">
                    <a href="{% static "images/g1.png" %}" class="novel_startup">
                      <img src="{% static 'images/g1.png' %}" alt="" class="img-responsive"/>
                      <div class="figcaption">
                        <h3>NovelKing</span></h3>
                        <p>One of the largest platform for online Chinese novels.</p>
                      </div>
                    </a>
                    <script type="text/javascript">
                      $( '.novel_startup' ).click( function( e ) {
                          e.preventDefault();
                          $.swipebox( [
                            { href:"{% static 'images/nonelking/index_novel.png' %}", title:'NovelKing sourced over 70,000 online novles.' }, 
                            { href:"{% static 'images/nonelking/category_novel.png' %}", title:'I periodically regrouped and rearranged the book catogories through usder behavior analysis.This approach was effective in increasing active time per period.' },
                            { href:"{% static 'images/nonelking/introduction_novel.png' %}", title:'Some features were added per suggestions from key users, such as allowing them to arrange chapters reversely.' },
                            { href:"{% static 'images/nonelking/article_novel.png' %}", title:'We included typical features for e-readers, such as night mode and bookmark.' },
                            { href:"{% static 'images/nonelking/tablet_novel.png' %}", title:'In response to more tablet users, NovelKing was made compatible with tablets.' },
                          ],
                          {
                              hideBarsDelay : 0 
                          }    );
                        } );
                    </script> 
                  </div>
                </div>
                <div class="col-md-4 portfolio-grids">
                  <div class="grid">
                    <a href="{% static "images/g2.png" %}" class="doctor_startup">
                      <img src="{% static "images/g2.png" %}" alt="" class="img-responsive"/>
                      <div class="figcaption">
                        <h3>DoctorGuide</span></h3>
                        <p>Search doctors by syptoms, locations, and ratings.</p>
                      </div>
                    </a>
                    <script type="text/javascript">
                      $( '.doctor_startup' ).click( function( e ) {
                          e.preventDefault();
                          $.swipebox( [
                            { href:"{% static 'images/doctor/appflow.png' %}", title:'I designed this appflow based on my own experience with searching the doctors.' }, 
                            { href:"{% static 'images/doctor/web_page.png' %}", title:'This was the web view.' },
                            { href:"{% static 'images/doctor/app_1.jpg' %}", title:'Users could refine the search results by locations, one of the key consideration for choosing a doctor.' },
                            { href:"{% static 'images/doctor/app_2.jpg' %}", title:'We collected reviews online and encouraged users to share their experiences.' }
                          ],
                          {
                              hideBarsDelay : 0 
                          } );
                        } );
                    </script>
                  </div>
                </div>
                <div class="col-md-4 portfolio-grids">
                  <div class="grid">
                    <a href="{% static "images/g3.png" %}" class="meng_startup">
                      <img src="{% static "images/g3.png" %}" alt="" class="img-responsive"/>
                      <div class="figcaption">
                        <h3>mmwooo.com</span></h3>
                        <p>Online store for fun little items.</p>
                      </div>
                    </a>
                    <script type="text/javascript">
                      $( '.meng_startup' ).click( function( e ) {
                          e.preventDefault();
                          $.swipebox( [
                            { href:"{% static 'images/mengmeng/app_1.jpg' %}", title:'This was our original view.' }, 
                            { href:"{% static 'images/mengmeng/app_2.jpg' %}", title:'We later changed to the orange cat theme after user surveys.' },
                            { href:"{% static 'images/mengmeng/app_3.jpg' %}", title:'Users could share their favorites with friends, which was a popular feature among teenage girls.' },
                            { href:"{% static 'images/mengmeng/app_4.jpg' %}", title:'We incorporated social media interactions in the app. Most of our initial fans were acquired through Facebook.' }
                          ],
                          {
                              hideBarsDelay : 0 
                          } );
                        } );
                    </script>
                  </div>
                </div>
                 <div class="col-md-4 portfolio-grids">
                  <div class="grid">
                    <a href="{% static "images/g6.png" %}" class="happy_startup">
                      <img src="{% static "images/g6.png" %}" alt="" class="img-responsive"/>
                      <div class="figcaption">
                        <h3>lifehappiness.com</span></h3>
                        <p>Online store for safe and durable cookware.</p>
                      </div>
                    </a>
                    <script type="text/javascript">
                      $( '.happy_startup' ).click( function( e ) {
                          e.preventDefault();
                          $.swipebox( [
                            { href:"{% static 'images/lifehappiness/web1.png' %}", title:'We worked closely with mother groups to find their pain points when developing products.' }, 
                            { href:"{% static 'images/lifehappiness/app1.jpg' %}", title:'Influencer marketing is quite effective among Taiwanese mothers. We host activities and provide cooking tutorials to cultivate fanbase.' },
                            { href:"{% static 'images/lifehappiness/web2.png' %}", title:'Our value propositions are safety and durability. Our products underwent rigorous testings from FDA, SGS, and TÜV.' },
                            { href:"{% static 'images/lifehappiness/app2.jpg' %}", title:'We also distribute quality products from several Taiwanese brands who desire to exploit the potential of online market.' }
                          ],
                          {
                              hideBarsDelay : 0 
                          } );
                        } );
                    </script>
                  </div>
                </div>
                <div class="clearfix"> </div>
              </div>
            </div>
            <div class="tab-1 resp-tab-content">
              <div class="tab_img">
                <div class="col-md-4 portfolio-grids">
                  <div class="grid">
                    <a href="{% static "images/g4.png" %}" class='cv_project'>
                      <img src="{% static "images/g4.png" %}" alt="" class="img-responsive"/>
                      <div class="figcaption">
                        <h3>personal website</span></h3>
                        <p>Used Python(Django), HTML, CSS, JavaScript.</p>
                      </div>
                    </a>
                    <script type="text/javascript">
                      $( '.cv_project' ).click( function( e ) {
                          e.preventDefault();
                          $.swipebox( [
                            { href:"{% static 'images/g4.png' %}", title:'I modified an authorized third-party template to practice my coding skills. ' }
                          ],
                          {
                              hideBarsDelay : 0 
                          } );
                        } );
                    </script>
                  </div>
                </div>
                <div class="col-md-4 portfolio-grids">
                  <div class="grid">
                    <a href="{% static "images/g7.png" %}" class='programming_course'>
                      <img src="{% static "images/g7.png" %}" alt="" class="img-responsive"/>
                      <div class="figcaption">
                        <h3>Programing Courses</span></h3>
                        <p>Python, SQL, Algorithm, Linear Algebra
                        </p>
                      </div>
                    </a>
                    <script type="text/javascript">
                      $( '.programming_course' ).click( function( e ) {
                          e.preventDefault();
                          $.swipebox( [
                            { href:"{% static 'images/certificates/python_data_structure.png' %}", title:'online courses certificates' },
                            { href:"{% static 'images/certificates/using_python_web_data.png' %}", title:'online courses certificates' },
                            { href:"{% static 'images/certificates/linear_algebra.png' %}", title:'online courses certificates' },
                            { href:"{% static 'images/certificates/database_with_python.png' %}", title:'online courses certificates' },
                            { href:"{% static 'images/certificates/algorithm_data_structures.png' %}", title:'online courses certificates' }
                          ],
                          {
                              hideBarsDelay : 0 
                          } );
                        } );
                    </script>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-1 resp-tab-content">
              <div class="tab_img">
                <div class="col-md-4 portfolio-grids">
                  <div class="grid">
                    <a href="{% static "images/g5.png" %}" class="advisor_mammam">
                      <img src="{% static "images/g5.png" %}" alt="" class="img-responsive"/>
                      <div class="figcaption">
                        <h3>mammam.com</span></h3>
                        <p>Brought a 85-year-old fabric ODM to online retailing.</p>
                      </div>
                    </a>
                    <script type="text/javascript">
                      $( '.advisor_mammam' ).click( function( e ) {
                          e.preventDefault();
                          $.swipebox( [
                            { href:"{% static 'images/mammam/web1.png' %}", title:'The company originally specializes in high-end designer fabric ODM. I advised them to tap the online retailing market as the growth momentum for the next generation.' },
                            { href:"{% static 'images/mammam/ad1.png' %}", title:'I built its fanpage and notably increased their reach on the internet.' },
                            { href:"{% static 'images/mammam/ad2.png' %}", title:'With continuous finetuning of target audience, I achieved a high click-through rate and lowered CPC consquently.' }
                          ],
                          {
                              hideBarsDelay : 0 
                          } );
                        } );
                    </script>

                  </div>
                </div>
                <div class="clearfix"> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--ResponsiveTabs-->
      <script type="text/javascript" src="{% static 'js/easyResponsiveTabs.js' %}"></script>
      <script type="text/javascript">
        $(document).ready(function () {
          $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion           
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
          });
        });   
      </script>
      <!--//ResponsiveTabs-->
      <!-- swipe box js -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.swipebox/1.4.4/js/jquery.swipebox.min.js" integrity="sha256-Yc+GwTnlWzpuQ6grDKOT67UA8d1M4Fx33JkNqX3Ke50=" crossorigin="anonymous"></script>
      <!-- //swipe box js -->
    </div>
  </div>
  <!--//portfolio-->
  <!--contact -->
  <div class="welcome contact" id="contact">
    <div class="container">
      <h3 class="title">Contact</h3>
      <div class="contact-row">
        <div class="col-md-6 contact-left">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3624.105234920262!2d121.72277811469!3d24.723267184118807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3467e4775439b4f1%3A0x8730d3a3bb2916b4!2zMjY05a6c6Jit57ij5ZOh5bGx6YSJ5oOg5rCR6LevMjM36Jmf!5e0!3m2!1szh-TW!2stw!4v1574911319100!5m2!1szh-TW!2stw"></iframe>
        </div>
        <div class="col-md-6 contact-right">
          <div class="address-left">
            <p>237-3 Huiming Road<br> Yuanshan Township<br>
              Yilan County, Taiwan </p>
          </div>
          <div class="address-right">
            <p>E-mail : <a href="mailto:ping.lin@kosbrother.com">ping.lin@kosbrother.com</a></p>
          </div>
          <div class="clearfix"></div>
          
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <!--//contact -->
  <!--footer-->
  <div class="footer">
    <div class="container">
      <p>© 2019 Ping Lin's Resume Website. All rights reserved </p>
    </div>
  </div>
  <!--//footer-->
  <!--smooth-scrolling-of-move-up-->
  <script type="text/javascript">
    $(document).ready(function() {
    
      var defaults = {
        containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
      };
      
      $().UItoTop({ easingType: 'easeOutQuart' });
      
    });
  </script>
  <!--//smooth-scrolling-of-move-up-->
  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/bootstrap.js' %}"></script> 
</body>
</html>